* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  font-family: "Pangolin", cursive;
  background-image: url(aditya-chinchure-hyN9aU9Tm-c-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.highlight {
  color: #f82415;
}
.text {
  text-align: center;
  background-color: white;
}
